html(prefix="og: http://ogp.me/ns#")
	head
		title Upload your files
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-capable" content="yes")

		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400", type="text/css")
		link(rel='stylesheet', href='css/confirmation.css', type='text/css')
	body
		.centered-box.relative
			.header-section
				.icon.icon-note2
				h3.title Forms required for HackTJ
			
			.action-section.not-found
				p Please use the link sent to your email address to upload your forms.
			.action-section.align-left
				p There are two forms you must submit before you arrive at HackTJ. Please fill out and have a parent/guardian sign the following forms, then scan and upload the documents here. If you don’t have access to a scanner, you may try uploading high-resolution, legible photos, but we will ask you to re-submit if they are not clear. #[strong Both forms are due no later than 11:59pm on Friday, January 29.] If we don’t receive both forms by that date, your spot will be given to someone on the waitlist.

				p Please note that we do not have access to school records, so we can not use information already on file with your school.  These forms are required for all students and must be signed by a parent/guardian, even if the student is 18.
				p As always, email us at #[a(href='mailto:hello@hacktj.org') hello@hacktj.org] if you need help or have any questions.
				hr
				ol
					li.ecc FCPS Emergency Care Card (#[a(href='forms/ecc.pdf' target="_blank") download])
						button.upload.ecc(onclick="upload('ecc')")
							.icon.icon-upload
							| Upload File
						.complete-text
							.icon.icon-check
							| Uploaded: #[.filename.ecc &nsbp;]  
							.links
								a.preview.ecc(target="_blank" href="/") preview
								a.edit(onclick="upload('ecc')") edit
					li.fieldtrip HackTJ Permission Form (#[a(href='forms/fieldtrip.pdf' target="_blank") download])
						input(name="fieldtrip" type="hidden")
						button.upload.fieldtrip(onclick="upload('fieldtrip')")
							.icon.icon-upload
							| Upload File
						.complete-text
							.icon.icon-check
							| Uploaded: #[.filename.fieldtrip &nsbp;] 
							.links
								a.preview.fieldtrip(target="_blank" href="/") preview
								a.edit(onclick="upload('fieldtrip')") edit
				hr
				.status-container
					h3 Your status: #[strong.incomplete Incomplete] #[strong.complete Completed]
					.complete.thanks 
						p We can't wait to see you at HackTJ! If you need something to do while you wait, go join the event on Facebook to stay updated and get exciting sneak peaks.
						a.button(href="https://www.facebook.com/events/1550092978648723/1551632471828107/" target="_blank") Join Facebook Event

			
		.social-links.relative
			.social-group
				a.social.pe-so-twitter(target="_blank" href="https://twitter.com/HackTJOfficial")
				a.social.pe-so-facebook(target="_blank" href="https://facebook.com/HackTJOfficial")
				a.social.pe-so-instagram(target="_blank" href="https://instagram.com/hacktjofficial")
			a.logo-link(target="_blank" href="https://hacktj.org")
				img.logo(src="img/logo-bw.png" alt="HackTJ")

		script(type="text/javascript").
			(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filestackapi.com/filestack.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,pickAndStore,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document);
		script(async type="text/javascript" src="js/upload.js")

